.empty-space {
    height: 200px;
    /* Adjust the height as needed */
}

.glow-on-hover {
    transition: box-shadow .5s
}

.glow-on-hover:hover {
    box-shadow: 0 0 10px #000000
}

h1 {
    font-family: "Inter", sans-serif;
    /* font-family: "Montserrat", sans-serif; */
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.gradient90 {
    background: linear-gradient(90deg, #ff00cc, #3333ff);
}   
.gradient45 {
    background: linear-gradient(90deg, crimson, darkorange);
}

/* .color1 {
    color: rgb(14, 0, 3) !important;
} */

.carousel-indicators li {
    font-size: 0; /* Hide text content */
}

.carousel-item {
    text-align: center; /* Center the image inside carousel item */
}

.carousel-item img {
    display: inline-block; /* Ensure proper alignment */
    max-width: 100%; /* Ensure image doesn't exceed container width */
    height: auto; /* Maintain aspect ratio */
}


